@model SlappMain.Models.App

@{
    ViewBag.Title = "Create";
}

<h2 class="indhead">Create New Application Record</h2>
<hr />
@using (Html.BeginForm("Create", "Apps", null, FormMethod.Post,
new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()


    
            <div class="form-horizontal" style="margin-left: 20%">

                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <h4 class="indhead">
                        @Html.LabelFor(model => model.AppName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </h4>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AppName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AppName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <h4 class="indhead">
                        @Html.LabelFor(model => model.AppDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                    </h4>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AppDesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AppDesc, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <h4 class="indhead">
                        @Html.LabelFor(model => model.AppDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        </h4>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AppDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AppDate, "", new { @class = "text-danger" })
                        </div>
                </div>
                <div class="form-group">
                    <h4 class="indhead">
                        @Html.Label("Image1", new { @class = "control-label col-md-2" })
                    </h4>
                        <div class="col-md-10">
                            <input type="file" name="upload" id="AppImg1" />
                        </div>
                </div>

                <div class="form-group">
                    <h4 class="indhead">
                        @Html.Label("Image2", new { @class = "control-label col-md-2" })
                        </h4>
                        <div class="col-md-10">
                            <input type="file" name="upload2" id="AppImg2" />
                        </div>
                </div>

                <div class="form-group">
                    <h4 class="indhead">
                        @Html.LabelFor(model => model.AppPrice, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AppPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AppPrice, "", new { @class = "text-danger" })
                        </div>
                </div>
                <div class="form-group">
                    <h4 class="indhead">
                        @Html.Label("App Tile", new { @class = "control-label col-md-2" })</h4>
                        <div class="col-md-10">
                            <br />
                            <input type="file" name="upload3" id="AppTile" />
                        </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input class="btn btn-default revs" type="submit" value="Create"  />
                    </div>
                   
                </div>
               
            </div>
}
      
<hr/>
<div>
    <button class="btn btn-default revs">@Html.ActionLink("Back to List", "Index")</button>
</div>
<hr/>
