@model SlappMain.Models.ViewModels.DevDetViewModel

@{
                /**/

                ViewBag.Title = "Details";
}
<script type="text/javascript">
    $(document).ready(function () {

        //for each of the rating dropdowns
        $('.Rating').each(function () {
            //get the value of the id from the hidden field
            //next to it
            var selectedId = $(this).next().val();
            //now apply this as the selected id to the current
            //dropdown box
            $(this).val(selectedId);
        });

        //now apply the plug-in and set to read only
        $('.Rating').barrating({
            theme: 'fontawesome-stars',
            readonly: true
        });

        var initvalue = $('#Average').next().val();

        //now apply the plug-in and set to read only
        $('#Average').barrating({
            theme: 'fontawesome-stars-o',
            readonly: true,
            initialRating: initvalue
        });
    });

</script>

<h2>Developer - App Details</h2>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5" >
            @foreach (var item in Model.companies)
        {
            <img src="@Url.Content(item.CompLogo)" width="150" style="margin-top: 10%;" />
            <h3> @Html.DisplayFor(modelItem => item.CompName)</h3>
            <h3 style="color: white;"> @Html.DisplayFor(modelItem => item.CompCont)</h3>

    }
        </div>
        <div class="col-md-6" style="border-left: 2px solid white; padding: 3%;">
            @foreach (var app in Model.apps)
    {
        <img src="@Url.Content(app.AppTile)" width="150" />
        <h3> @Html.DisplayFor(model => app.AppName)</h3>
        <select id="Average">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="hidden" class="initialRating" value="@ViewBag.AverageReview" />
        <p class="appdets">@Html.DisplayFor(model => app.AppDesc)</p>
}
        </div>

    </div>
   
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
