@model SlappMain.Models.AppPegi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppPegi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PegiId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PegiId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppPegiId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
