@model SlappMain.Models.AppPegi

@{
    ViewBag.Title = "Edit";
}

<h2>Edit App - Pegi Record</h2>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal"  style="margin-left: 20%; height: 20em; margin-top: 5%;">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AppPegiId)

    <div class="form-group">
        <h4 class="indhead">
            <label class="control-label col-md-2" for="AppId">App Selection</label>
        </h4>
        <div class="col-md-10">
            @Html.DropDownList("AppId")
            @Html.ValidationMessageFor(model => model.AppId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h4 class="indhead">
            <label class="control-label col-md-2" for="AppId">App Selection</label>
        </h4>
        <div class="col-md-10">
            @Html.DropDownList("PegiId")
            @Html.ValidationMessageFor(model => model.PegiId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default revs" />
        </div>
    </div>
</div>
}
<hr/>
    <div>
        <button class="btn btn-default revs">
            @Html.ActionLink("Back to List", "Index")
            </button>
    </div>
<hr/>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
