@model IEnumerable<SlappMain.Models.ViewModels.AppReviewViewModel>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $(document).ready(function () {

        //for each of the rating dropdowns
        $('.Rating').each(function () {
            //get the value of the id from the hidden field
            //next to it
            var selectedId = $(this).next().val();
            //now apply this as the selected id to the current
            //dropdown box
            $(this).val(selectedId);
        });

        //now apply the plug-in and set to read only
        $('.Rating').barrating({
            theme: 'fontawesome-stars',
            readonly: true
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //find control with name searchString
        //and apply autocomplete plugin
        $("[name='searchString']").autocomplete({
            //get data from search action
            source: '@Url.Action("Search")',
            //search when min 2 characters entered
            minLength: 2,
            //when option selected
            select: function (event, ui) {
                //go to the details action and append the id
                //from the json results
                window.location = '@Url.Action("Details")'
                    + '/' + ui.item.id
            }
        });
    })
</script>

<h2>Latest App Reviews</h2>
<hr/>
<div class="row">

    @foreach (var item in Model)

    {
        <div class="col-md-3" style="text-align: center;">
           
                @if (item.App.AppTile != null)
                {
                    <img src="@Url.Content(item.App.AppTile)" width="100" height="100" style="
                       margin-top: 5%;" />

                }
            
            
                <h4 style="text-align:center; color: #ff0101">  @Html.DisplayFor(modelItem => item.App.AppName)</h4>
           

            
                <h4 style="text-align:center; color: purple"> "@Html.DisplayFor(modelItem => item.Review.RevUname)"</h4>
            
            
                <div style=" position: relative; bottom: 0;">
                    <select class="Rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <input type="hidden" class="initialRating" value="@item.Review.ReviewRating" />
                </div>
            
            
                <h4>
                    @Html.DisplayFor(modelItem => item.Review.ReviewContent)
                </h4>
            

            

                <button class="btn btn-default revs" style="">
                    @Html.ActionLink("Details", "Details", new { id = item.Review.RevId })
                </button>
                <hr />
           

        </div>
       

    }

</div>
