@model SlappMain.Models.AppPlats
 
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppPlats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppPlatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
